.container {
  display: flex;
  justify-content: space-between;
  max-width: 829px;
  margin: 0 auto;
}

.input {
  display: flex;
  max-width: 630px;
  gap: 12px;
}

.input input {
  min-width: 377px;
}

.stack_container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 16px;
}
