.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radios {
  display: flex;
  gap: 40px;
  margin-right: 52px;
}

.generator {
  display: flex;
  gap: 40px;
  margin-left: 52px;
}

.columns {
  display: flex;
  gap: 10px;
  margin-top: 48px;
  align-items: flex-end;
  height: 330px;
}
